.articles-list {
    .card {
        height: 100%;
    }
    .card-text {
        margin-top: auto;
    }
    &__panel {
        padding-bottom: 30px;
        align-items: center;
    }
    .countries {
        text-align: right;
    }
}

