@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");


body {
    color: #5a5a5a;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    background-color: #CCCCFF;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

.row {
    width: 100%;
    align-items: stretch;
}

a,
a:hover,
.btn {
    outline: none !important;
}


section {
    padding: 30px 0;
    float: left;
    width: 100%
}

.card {
    float: left;
    width: 100%
}

.navbar {
    border: medium none;
    float: left;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 0
}

.title-large {
    font-size: 20px;
    margin: 10px 0 5px;
    line-height: 27px;
    color: #141517;
}

.title-small {
    color: #141517;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    margin: 6px 0 0;
}

.title-x-small {
    font-size: 18px;
    margin: 0px;
}

.title-large a,
.title-small a,
.title-x-small a {
    color: inherit
}

.banner-sec {
    float: left;
    width: 100%;
    background: #EBEBEB
}

.card-block {
    padding: 0 10px 10px;
}

.card-text {
    margin: 0
}

.text-time {
    color: #00004C;
    font-weight: 600;
}

.banner-sec .card-img-overlay {
    position: relative;
    padding: 0;
    top: 3px;
    left: 7px;
    height: 20%
}

.card-img-overlay {
    position: relative!important;
}

header {
    float: left;
    width: 100%
}

.small-top {
    border-bottom: 1px solid #2b2b2b;
    float: left;
    width: 100%;
    background: #000
}

.small-top .social-icon a {
    border-left: 1px solid #2b2b2b;
    color: #0000E5;
    float: left;
    padding: 6px 13px;
}

.small-top .social-icon a:last-child {
    border-right: 1px solid #2b2b2b;
}

.small-top .social-icon a:hover {
    color: #0000E5;
    text-decoration: none;
}

.small-top .date-sec {
    font-size: 13px;
    font-weight: 600;
    float: left;
    margin-top: 4px;
    color: #898989
}

.top-head {
    background: #141517;
    width: 100%;
    float: left;
    padding: 20px 0;
}

.top-head h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    // margin: 18px 0 0;
}

.top-head small {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #c0c0c0;
    margin-top: 5px;
    margin-left: 5px;
}

.top-head .admin-bar {
    text-align: right;
    margin-top: 22px;
}

.top-head .admin-bar a {
    color: #fff;
    line-height: 49px;
    position: relative;
    padding: 0 7px;
}

.top-head .admin-bar a:hover {
    color: #00004C
}

.top-head .admin-bar a i {
    margin-right: 6px;
}

.top-head .admin-bar .ping {
    background: #00004C;
    border: 3px solid #141517;
    border-radius: 50%;
    height: 14px;
    position: absolute;
    right: 3px;
    top: 13px;
    width: 14px;
    z-index: 1;
}

.top-head .admin-bar img {
    float: right;
    height: 50px;
    width: 50px;
    margin-left: 18px;
}

.top-nav {
    background: #fff;
    padding: 0;
    border-bottom: 1px solid #dbdbdb
}

.top-nav .nav-link {
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
}

.top-nav .navbar-nav .nav-item+.nav-item {
    margin-left: 0
}

.top-nav li a {
    color: #141517;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 0 10px;
    border-bottom: 2px solid #fff
}

.top-nav li a:hover,
.top-nav li a:focus,
.top-nav li a.active {
    color: #141517;
    border-bottom: 2px solid #141517;
}

.top-nav .form-control {
    border-color: #fff
}

.navbar-toggle {
    background: #fff;
}

.navbar-toggle .icon-bar {
    background: #0A2E61;
}

.navbar-brand {
    display: none;
}

.top-slider .carousel-indicators {
    bottom: 0
}

.top-slider .carousel-indicators li {
    border: 1px solid #000;
}

.top-slider .carousel-indicators .active {
    background: #000;
}


.side-bar .nav-tabs {
    border-bottom: none;
}

.side-bar .nav-tabs .nav-link {
    color: #aeaeae;
    text-transform: uppercase;
    border: none;
}

.side-bar .nav-tabs .nav-link.active,
.side-bar .nav-tabs .nav-link:hover {
    border-bottom: 2px solid #00004C;
    text-transform: uppercase;
    color: #222
}

.sidebar-tabing .media {
    margin-top: 20px
}

.sidebar-tabing img {
    width: 120px;
    height: 100px;
}

.sidebar-tabing .title-small {
    line-height: 23px;
    margin-top: 5px;
    font-size: 18px
}

#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

.search input {
    background: #d0d0d0;
    border: medium none;
    border-radius: 3px 0 0 3px;
    float: left;
    height: 36px;
    line-height: 18px;
    margin-left: 210px;
    padding: 0 9px;
    position: absolute;
    top: -3px;
    width: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.search:hover input,
.search input:focus {
    width: 200px;
    margin-left: 0px;
    background: #d0d0d0;
}

.top-nav .btn {
    position: absolute;
    right: 0;
    top: -3px;
    border-radius: 3px;
}

.banner-sec {
    float: left;
    width: 100%;
}

.banner-sec .news-block {
    margin-bottom: 20px
}

.banner-sec .news-block:last-child {
    margin-bottom: 0px
}

.banner-sec .news-des {
    margin-bottom: 5px;
}

.banner-sec .title-large {
    margin: 18px 0 0
}

.banner-sec .time {
    margin-top: 0px;
    font-size: 13px;
}

.banner-sec .carousel-control.left,
.banner-sec .carousel-control.right {
    background: none;
}

.banner-sec .card {
    margin-bottom: 20px;
}

.section-01 {
    float: left;
    width: 100%;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5
}

.section-01 .heading-large {
    border-bottom: 2px solid #222;
    color: #222;
    float: left;
    width: 100%;
    padding: 0 0 6px;
    margin: 0 0 18px;
    text-align: left;
}

.section-01 .heading-large::before,
.section-01 .heading-large::after {
    background: transparent;
}

.section-01 .heading-small {
    border-bottom: 2px solid #222;
    color: #222;
    float: left;
    margin: 7px 0 0;
    width: 100%;
    padding-bottom: 10px;
    font-size: 18px
}

.section-01 .title-small {
    margin-bottom: 5px;
    font-size: 17px
}

.section-01 .news-block {
    border-bottom: 1px dashed #000;
    padding-bottom: 30px;
    border: none;
}

.section-01 aside>.news-block {
    border-bottom: 1px dashed #000;
    padding-bottom: 19px;
}

.section-01 aside>.news-block:last-child {
    border-bottom: none;
    margin-bottom: 20px
}

.section-01 .card {
    border: none;
}

.section-01 .card-block {
    padding: 10px 0;
}

.section-01 .video-sec {
    float: left;
    margin-top: 30px;
    width: 100%;
}

.section-01 .video-block {
    float: left;
    margin-top: 20px;
    width: 100%;
}

.action-sec {
    width: 100%;
    float: left;
    background: #222
}

.action-box {
    float: left;
    width: 100%;
    text-align: center;
}

.action-box h2 {
    color: #fff;
    font-size: 20px;
}

// ===
.burger {
    margin-left: 10px;
}
.burger-btn {
    cursor: pointer;
    color: #141517;
    font-size: 14px;
    transition: all .3s;
    &:hover {
        transform: scale(1.25)
    }
}
.sideNav-item {
    a {
        color: #fff;
        font-size: 24px;
        &.active {
            text-decoration: underline;
        }
    }
    span {
        margin-right: 10px;
    }
}

select, button {
    cursor: pointer;
}

.input-field {
    select {
        border: 1px solid #bbb;
        height: 40px;
        width: 200px;
        text-align: center;
        option {
            text-align: center;
        }
    }
}
.invalid-feedback {
    display: block!important;
}

.logo {
    text-align: center;
}

.navbar-collapse {
    justify-content: center;
}

// .header-select {
//     select {
//         height: 20px;
//     }
// }

.badge-danger {
    background-color: blue;
}

button:disabled {
    cursor: not-allowed;
}
